.searchInp,
.searchInp input::placeholder {
  background-color: var(--bg-dark) !important;
  color: var(--text-primary) !important;
}

.searchInp:focus,
.searchInp:focus-within {
  border-color: var(--text-primary) !important;
}

.input-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 360px;
}

.searchInp span button {
  color: var(--text-primary) !important;
}
